/* ----------------------Code used for all pages--------------------------*/

body{
    margin: 0;
    padding: 0;
}

/* Start nav css */ 

nav {
    font-size: 2em;
    width: 100%;
    overflow: hidden;
    background-color: rgb(90, 0, 0);
    position: sticky;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 20px 0 black;
}

nav ul{
    display: flex;
    justify-content: left; /*Change this to change nav menu stuff centering*/
    list-style-type: none; /*Remove list bullets*/
    text-decoration: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    text-align: center;
    padding: 0.2em 0.4em 0.2em 0.3em;
    border-right: 1px solid black;
}

nav ul li:hover{
    background-color: maroon;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

/* ----------------------End code used for all pages--------------------------*/