body{
    background-color: rgb(40,40,40);
}

header{
    font-size: 3em;
    text-align: center;
    margin: 0.2em 0.2em 1em 0.2em;
    color: rgb(209, 206, 206);
}

p {
    font-size: 1.8em;
    margin: 0.7em 7em;
    color: rgb(209, 206, 206);
}

img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}