/* Start general css*/

body{
    background-color: rgb(40,40,40);
}

header{
    font-size: 5em;
    text-align: center;
    margin: 0.2em 0.2em 1em 0.2em;
    color: rgb(209, 206, 206);
}

header img{
    margin-right: 0.5em;
}

p {
    font-size: 1.8em;
    margin: 0.7em 7em;
    color: rgb(209, 206, 206);
}

button{
    text-align: center;
    text-decoration: none;
    font-size: 3em;
    color: white;
    background-color: rgb(90, 0, 0);
    border: none;
    padding: 0.1em 0.6em;
    cursor: pointer;
    outline: none;
    transition-duration: 0.4s;
}

button:hover{
    background-color: rgb(110, 20, 20);
}

.mockScroller{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 0em;
    margin: auto;
    max-width: 50%;
}

.mockImage{
    width: 35em;
    height: 25em;
    margin: 0em 3em;
}